
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Idée Repas</title>

   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->


  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style type="text/css">


/*Latest compiled and minified JQuery*/
 
/*    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }

    .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
    }*/
    body {
color:black;
background-color:white;
background-image:url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  </style>
</head>
<body>
  
<form action="http://valentinbouin.fr:3000">
<label style="font-size: 50px">Idée Repas</label>
    <input type="submit" value="Toutes les recettes" />
</form>  
  <div class="clearfix"></div>
  <div >
    <table class="table table-condensed table-bordered" >
      <thead class="thead-inverse">
        <!-- <tr style="background-color: rgba(255, 255, 255, 20);font-size: 20px;"> -->
        <tr>
          <th>Nom</th>
          <th>Categorie</th>
          <th>Gras</th>
          <th>Saison</th>
      	  <th>Ingredient1</th>
      	  <th>Ingredient2</th>
      	  <th>Ingredient3</th>		
      	  <th>Ingredient4</th>
      	  <th>Ingredient5</th>
      	  <th>Ingredient6</th>	
      	  <th>Ingredient7</th>
      	  <th>Ingredient8</th>
      	  <th>Ingredient9</th>
      	  <th>Ingredient10</th>
      	  <th>Ingredient11</th>
      	  <th>Ingredient12</th>	
        </tr> 
      </thead>
      <tbody>
        <% for(var i=0; i<results.length; i++) {%>
        <tr>
<!--           <td><%= results[i].Index%></td><td><%= results[i].Nom%></td><td><% if(0){ %><%=  results[i].Ingredient2%><% } else{ %>no photos uploaded<% } %></td><td><%=  results[i].Ingredient3%></td><td><%=  results[i].Ingredient4%></td><td><%=  results[i].Ingredient5 %></td>
 -->
      <!--     <td style="font-size: 20px; background-color: rgba(200, 200, 200, 50);font-weight:bold;"><%= results[i].Nom%></td>
          <td style="font-size: 20px; background-color: rgba(200, 200, 200, 50);"><% if(results[i].Categorie){ %><%=results[i].Categorie%><% } else{ %><% } %></td>
          <td style="font-size: 20px; background-color: rgba(200, 200, 200, 50);"><% if(results[i].Gras){ %><%=results[i].Gras%><% } else{ %><% } %></td>
          <td style="font-size: 20px; background-color: rgba(200, 200, 200, 50);"><% if(results[i].Saison){ %><%=results[i].Saison%><% } else{ %><% } %></td> -->
              <td style="font-weight:bold;"><%= results[i].Nom%></td>
          <td ><% if(results[i].Categorie){ %><%=results[i].Categorie%><% } else{ %><% } %></td>
          <td ><% if(results[i].Gras){ %><%=results[i].Gras%><% } else{ %><% } %></td>
          <td ><% if(results[i].Saison){ %><%=results[i].Saison%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient2){ %><%=results[i].Ingredient2%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient2){ %><%=results[i].Ingredient2%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient3){ %><%=results[i].Ingredient3%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient4){ %><%=results[i].Ingredient4%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient5){ %><%=results[i].Ingredient5%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient6){ %><%=results[i].Ingredient6%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient7){ %><%=results[i].Ingredient7%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient8){ %><%=results[i].Ingredient8%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient9){ %><%=results[i].Ingredient9%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient10){ %><%=results[i].Ingredient10%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient11){ %><%=results[i].Ingredient11%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient12){ %><%=results[i].Ingredient12%><% } else{ %><% } %></td>
          <td><% if(results[i].Ingredient13){ %><%=results[i].Ingredient13%><% } else{ %><% } %></td>


        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <h1>Recette au hasard</h1>

  <form id="getRecette" action="getRecette" method="post">
    <div class="form-group">
<!--     <select value="4">
      <option selected disabled hidden>Choose here</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
    </select>  -->    
  <SELECT name="Categorie" class="selectpicker">
          <option></option>
           <% for(var i=0; i<listeCategorie.length; i++) {%>
            <option <% if(listeCategorie[i].Nom == categorie ){ %><%=select%><% } else{ %><% } %>><%= listeCategorie[i].Nom%></option>

           <% } %>
        </SELECT>
        <SELECT name="Gras">
          <option></option>
          <% for(var i=0; i<listeGras.length; i++) {%>
            <option <% if(listeGras[i].Nom == gras ){ %><%=select%><% } else{ %><% } %>><%= listeGras[i].Nom%></option>
          <% } %>
        </SELECT>  
        <SELECT name="Saison" class="selectpicker" >
          <option></option>
          <% for(var i=0; i<listeSaison.length; i++) {%>
            <option <% if(listeSaison[i].Nom == saison ){ %><%=select%><% } else{ %><% } %>><%= listeSaison[i].Nom%></option>
          <% } %>
        </SELECT> 
        <label for="exampleInputEmail1"></label>
        <!-- <input type="text" class="form-control" name='nom' placeholder="Get Recette"></input> -->
        <button type="submit" class="btn btn-info btn-lg" >Get Recette</button>
    </div>
  </form>


<!-- ====================================================TEST====================================================== -->

<!-- Trigger the modal with a button -->
<h1>Recettes</h1>
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#adRecet">Ajouter Recette</button>
<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#delRecet">Supprimer Recette</button>
<div class="clearfix"></div>
<h1>Ingredients</h1>
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#adIngr">Ajouter Ingrédient</button>
<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#delIngre">Supprimer Ingrédient</button>
<!-- <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#getRecet" style="margin-top: 25px">Get Recette</button> -->






<!-- Modal Add Recet-->
<div id="adRecet" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <h1>Ingrédient</h1>
        <form id="addRecette" action="addRecette" method="post">
         <div class="form-inline">
           <div class="row">
             <div class="col-xs-5">
               <label for="exampleInputEmail1">Nom</label>
               <input type="text" class="form-control" name='nom' placeholder="Nom recette à ajouter">
             </div>
             <div class="col-xs-3">
               <label for="exampleInputEmail1">Catégorie</label>
               <div class="clearfix"></div>
               <SELECT name="Categorie" class="selectpicker">
                 <option></option>
                   <% for(var i=0; i<listeCategorie.length; i++) {%>
                   <option><%= listeCategorie[i].Nom%></option>
                   <% } %>
               </SELECT>
               <SELECT name="Saison" class="selectpicker" >
                 <option></option>
                 <% for(var i=0; i<listeSaison.length; i++) {%>
                   <option><%= listeSaison[i].Nom%></option>
                 <% } %>
               </SELECT>
               <SELECT name="Gras" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeGras.length; i++) {%>
                   <option><%= listeGras[i].Nom%></option>
                 <% } %>
               </SELECT>
             </div>
             <div class="col-xs-3">
               <label for="exampleInputEmail1">Ingrédients</label>
               <div class="clearfix"></div>
               <SELECT name="Ingredient2" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient3" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient4" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient5" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient6" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient7" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient8" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient9" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient10" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient11" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient12" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
               <SELECT name="Ingredient13" class="selectpicker">
                 <option></option>
                 <% for(var i=0; i<listeIngredient.length; i++) {%>
                         <option><%= listeIngredient[i].Nom%></option>
                       <% } %>
               </SELECT>
             </div>
             <div class="modal-footer">
               <button type="submit" class="btn btn-primary" style="margin-top: 25px">Add</button>
             </div>
           </div>
         </div>
       </form>
      </div>
    </div>
  </div>
</div>






<!-- Modal Del Recet-->
<div id="delRecet" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <h1>Ingrédient</h1>
        <form id="delRecette" action="delRecette" method="post">
          <div class="form-group">
            <div class="col-xs-3">
              <label for="exampleInputEmail1"></label>
              <input type="text" class="form-control" name='nom' placeholder="Nom recette à supprimer"></input>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger"  style="margin-top: 25px" >Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal Add Ingr-->
<div id="adIngr" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <h1>Ingrédient</h1>
        <form id="addIngredient" action="addIngredient" method="post">
          <div class="form-group">
              <label for="exampleInputEmail1"></label>
              <input type="text" class="form-control" name='nom' placeholder="Nom Ingredient à ajouter"></input>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Del Ingr-->
<div id="delIngre" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <h1>Ingrédient</h1>
        <form id="dellIngredient" action="dellIngredient" method="post">
          <div class="form-group">    
              <label for="exampleInputEmail1"></label>
              <input type="text" class="form-control" name='nom' placeholder="Nom Ingredient à supprimer"></input>
              <!-- <button type="submit" class="btn btn-danger btn-circle glyphicon glyphicon-minus"  style="margin-top: 25px" ></button> -->
          </div>
        </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
 
 <!-- Modal Get Recette-->
<div id="getRecet" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
  <form id="getRecette" action="getRecette" method="post">
    <div class="form-group"> 
      <SELECT name="Categorie" class="selectpicker">
          <option></option>
           <% for(var i=0; i<listeCategorie.length; i++) {%>
           <option><%= listeCategorie[i].Nom%></option>
           <% } %>
        </SELECT>
        <SELECT name="Saison" class="selectpicker" >
          <option></option>
          <% for(var i=0; i<listeSaison.length; i++) {%>
           <option><%= listeSaison[i].Nom%></option>
          <% } %>
        </SELECT>
        <SELECT name="Gras" class="selectpicker">
          <option></option>
          <% for(var i=0; i<listeGras.length; i++) {%>
           <option><%= listeGras[i].Nom%></option>
          <% } %>
        </SELECT>   
        <label for="exampleInputEmail1"></label>
        <!-- <input type="text" class="form-control" name='nom' placeholder="Get Recette"></input> -->
        <button type="submit" class="btn btn-danger btn-circle glyphicon glyphicon-minus" data-toggle="modal" data-target="#getRecet" style="margin-top: 25px">Get Recette</button>
    </div>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
